<div class="container">
  <h1 class="text-center mt-4">Filtered Listings</h1>
  <div class="search-bar">
    <input
      type="text"
      id="searchField"
      class="form-control"
      placeholder="Search amenities (e.g., wifi)"
    />
  </div>
  <div id="listingsContainer" class="row"></div>
</div>

<!-- Include your JavaScript file -->
<script src="/js/search.js"></script>